/*** COLOURS ***/
$accent: #d45121;

$light: #ebeff1;

$gray: #8d9ba0;

$dark: #0c1d24;

/*** FONT STYLES ***/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Vidaloka&display=swap");

@mixin heading($fs, $col) {
  font-weight: 400;
  font-size: $fs;
  color: $col;
  font-family: "Vidaloka", serif;
}

@mixin button($padding) {
  font-size: 1.8rem;
  color: $light;
  text-align: center;
  background: $accent;
  padding: $padding;
  display: inline-block;
  font-family: "Vidaloka", serif;
  text-transform: uppercase;
}
