header {
  background-image: url(../../../assets/images/hero.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-left: 88px;
}
