@import "../../../assets/styles/partials/variables";

header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  img {
    max-width: 45px;
  }
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-left: 88px;
  a {
    color: $light;
  }
}
