<footer>
  <div class="container">
    <nav>
      <app-logo class="ptb-20"></app-logo>
      <ul>
        <li *ngFor="let link of links">
          <a routerLink="{{ link.source }}">{{ link.title }}</a>
        </li>
      </ul>
    </nav>
    <div class="line-divider"></div>
    <p>Created at Juno College of Technology</p>
    <p>
      Written in Angular by
      <a
        href="https://irenetruong.tech"
        target="_blank"
        rel="noopener noreferrer"
        >Irene Truong</a
      >
    </p>
  </div>
</footer>
