@import "../../../assets/styles/partials/variables";

footer {
  height: 280px;
  background: $dark;
  color: $gray;

  img {
    margin: 40px 0;
  }

  a {
    color: $gray;
  }
  nav {
    font-family: $robo;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }
  ul {
    display: flex;
    padding-left: 0;
  }
  li {
    margin: 0 10px;
  }
  p {
    text-align: center;
  }
}
