<app-hero></app-hero>
<main>
  <section class="about container">
    <div class="row">
      <div class="col-md-5">
        <img
          src="../../../assets/images/image1-about.jpg"
          alt="A person hiking carrying a flag to demonstrate their pride."
        />
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h2>About</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eos
          omnis distinctio laborum recusandae ullam itaque porro saepe eligendi
          magnam! Accusantium, dolore dignissimos. Vel rerum provident veritatis
          deserunt doloremque sit consectetur ullam, atque tempora odio quia
          aliquid distinctio eveniet, magni vitae quas ea itaque harum magnam.
          Ullam amet quis exercitationem?
        </p>
        <a class="faux-button" routerLink="contact">Say hello</a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </section>
  <section class="gallery container">
    <h2>Gallery</h2>
    <div class="gallery-view">
      <div *ngFor="let image of galleryImages" class="{{ image.size }}">
        <img src="{{ image.source }}" alt="{{ image.alt }}" />
      </div>
    </div>
  </section>
  <app-banner-destinations></app-banner-destinations>
  <section class="latest-blog-posts">
    <h2>Latest</h2>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </section>
</main>
