@import "../../../assets/styles/partials/variables";

.about {
  margin: 90px auto;
  p {
    margin: 36px 0;
  }
}

.gallery {
  margin: 100px auto;
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}

.gallery-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.smol {
  width: 32%;
  margin-bottom: 20px;
}

.large-bb {
  width: 49%;
}

.latest-blog-posts {
  h2 {
    margin: 100px auto 50px;
    text-align: center;
  }
  .card {
    border: none;
  }

  .card-title {
    @include heading(2.4rem, $dark);
    padding: 32px 0 16px;
  }

  .card-body {
    background: $light;
  }

  .card-deck {
    margin-bottom: 120px;
  }

  .card-text {
    margin-bottom: 32px;
  }
}
