@import "./partials/setup";
@import "./partials/variables";

html {
  font-size: 62.5%;
}

body,
p {
  font-size: 1.8rem;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  @include heading(7rem, $light);
}

h2 {
  @include heading(5rem, $dark);
}

h3 {
  @include heading(3.2rem, $dark);
}

nav {
  @include heading(2.5rem, $light);
}

button {
  @include button(30px 90px);
}
