@import "../../../assets/styles/partials/variables";

.banner-destinations {
  background-image: url("../../../assets/images/image2-sep-banner.jpg");
  height: 400px;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  @include heading(7rem, $light);
  span {
    margin-top: 24px;
    font-family: $robo;
    text-transform: uppercase;
    display: block;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  text-align: center;
}
