.banner-destinations {
  background-image: url("../../../assets/images/image2-sep-banner.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
